button {
  color: white;
}

.input-round {
  border-radius: 32.5px;
}

.character-count.valid {
  color: black;
}

.character-count.invalid {
  color: red;
}
/* #story .p-editor-container .p-editor-content .ql-editor {
  min-height: 200px;
} */
.maxHeight {
  max-height: calc(100vh - 100px);
}
