<div class=" container py-4">
  <div class="maxHeight overflow-auto">

    <!-- title and coose file -->
    <div class=" position-relative ">
      <input type="text" name="title" placeholder="Please Type Your Title here" class="form-control py-3 mb-4 border-2"
        [(ngModel)]="titleBlog">

      <label class="">
        <input type="file" class=" form-control " (change)="changeFile($event)" />
        *covper could be image or video
      </label>
    </div>

    <!-- category -->
    <div class=" input-group w-25 d-flex flex-column pt-3 gap-1">
      <label for="selectedCategory" class=" fw-medium">Select a Category</label>
      <p-dropdown [options]="categories" [(ngModel)]="selectedCategory" [showClear]="true"
        placeholder="Select a Catergory" class=" w-100 border rounded  rounded-2 ">
      </p-dropdown>
    </div>


    <div id="story" class="pt-3">
      <p-editor [(ngModel)]="bodyBlog">
      </p-editor>
      <div>
        <span class="character-count" [ngClass]="{
            'valid': countCharacterLength(bodyBlog) <= maxLength,
            'invalid': countCharacterLength(bodyBlog) > maxLength
          }">
          Characters: {{ countCharacterLength(bodyBlog) }} / {{ maxLength }}
          <span class="error-message" *ngIf="countCharacterLength(bodyBlog) > maxLength">
            You must enter less than 500 characters.
          </span>
        </span>
      </div>

      <div>
        <span class="character-count" [ngClass]="{
            'valid': countImg(bodyBlog) <= 3,
            'invalid': countImg(bodyBlog) > 3
          }">
          Characters: {{ countImg(bodyBlog) }} / {{ 3 }}
          <span class="error-message" *ngIf="countImg(bodyBlog) > 3">
            You can upload only 3 images
          </span>
        </span>
      </div>
    </div>

    <p-toast></p-toast>
    <button (click)="onSubmit()" class=" btn btn-danger  py-1 px-4 ">{{buttonPublishOrUpdateBlog}}</button>
  </div>
</div>