<div class="ms-5 me-4 fixed-hight">
    <!-- filter and search section -->
    <div class="d-flex justify-content-between align-items-center">

        <!-- search part -->
        <input type="text" [(ngModel)]="searchAny" class="form-control my-3 rounded-pill me-3 w-25"
            placeholder="Search user" />

        <!-- filtering part -->
        <div class="dropdown">
            <button class="btn btn-outline-info dropdown-toggle" type="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                <fa-icon [icon]="faFilter" class="fs-5 me-3  text-secondary"></fa-icon>
            </button>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item " (click)="onSelectCategory($event)">all</a></li>
                <li><a class="dropdown-item " (click)="onSelectCategory($event)">admin</a></li>
                <li><a class="dropdown-item " (click)="onSelectCategory($event)">user</a></li>
            </ul>
        </div>
    </div>

    <!-- users table section -->
    <div class=" table-responsive table-container">
        <table class="table">
            <thead class="fixed-header">
                <tr class="font-medium text-[var(--text-color)] leading-4">
                    <th>Name</th>
                    <th>Email</th>
                    <th>Role</th>
                    <th>State</th>
                    <th></th>
                </tr>
            </thead>
            <tbody class="space-y-4">
                <br />
                @for(user of (filteredUsers | filter:searchAny | paginate: { itemsPerPage: itemsPerPage, currentPage: p
                });
                track user._id){
                <tr>
                    <td class="rounded-start-pill ps-4 py-3 user__router"
                        [routerLink]="_GoToService.page.DashAdminUserProfile + user._id">

                        <div class="d-flex">
                            <img class="rounded-circle self-center" src={{user.userimage}} alt="" />
                            <div class="user__details">
                                <h5 class="flex-grow-1">{{ user.firstname }} <span class="d-none d-lg-block">{{
                                        user.lastname }}</span></h5>
                                <p class="m-0">{{ user.occupation }}</p>
                            </div>
                        </div>
                    </td>
                    <td class="post__router" [routerLink]="_GoToService.page.DashAdminUserProfile + user._id"
                        class="user__router">{{
                        user.email }}
                    </td>

                    <td class="text-center">
                        <p-tag class="p-2" [severity]="getSeverity(user.role)" [rounded]="true">{{ user.role }}</p-tag>
                    </td>
                    <td>{{ user.isActive?'Active':'inactive' }}</td>
                    <td class="rounded-end-pill pe-4 text-center">

                        <div class="d-flex justify-content-center">

                            <a [routerLink]="_GoToService.page.DashAdminEditUserProfile + user._id"
                                class="btn btn-outline-primary mb-0 mx-2"><i class="fa-solid fa-pen-to-square"></i></a>
                            <button type="button" (click)="deleteUser(user._id)" class="btn btn-danger"><i
                                    class="fa-solid fa-trash-can"></i></button>

                        </div>
                    </td>
                </tr>
                <br />
                }
            </tbody>
        </table>
    </div>

    <!-- pagination -->
    <div class="d-flex justify-content-center align-items-center mt-4">
        <pagination-controls (pageChange)="p = $event"></pagination-controls>
    </div>
</div>


<div class="d-flex justify-content-center gap-2">
    <p-toast></p-toast>
    <p-confirmDialog></p-confirmDialog>
</div>