<div class="container">
    <div class="row justify-content-center">
        <div class=" bg-[#fafafa] rounded-xl p-4 shadow-2xl hover:shadow-lg transtion-">
            <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
                <!-- 1th row -->
                <div class="row gap-3 gap-lg-0 gap-xl-0  ">
                    <div class="col-lg-6 col-sm-12 flex flex-col items-center gap-3 space-x-4 m-auto ">
                        <!-- Profile Image -->
                        <div class=" w-50  m-auto ">
                            <img class="w-100  m-auto   "
                                [src]="this.imageUser"
                                alt="Your Image">
                        </div>

                    </div>
                    <div class="col-lg-6 align-items-center m-auto ">
                        <div class="mb-4">
                            <label for="firstname" class="form-label">First Name</label>
                            <input type="text" class="form-control" id="firstname"
                                formControlName="firstname">
                            @if (userForm.get(FormControlsNames.firstname)?.errors &&
                            userForm.get(FormControlsNames.firstname)?.touched) {

                            <div class="text-red-700">
                                @if (userForm.get(FormControlsNames.firstname)?.getError('required')) { <p>*First Name
                                    is Required</p> }

                                @if (userForm.get(FormControlsNames.firstname)?.getError('minlength')) { <p>Name Must
                                    Be 3 Char</p> }
                            </div>

                            }
                        </div>
                        <div class="mb-3">
                            <label for="lastname" class="form-label">Last Name</label>
                            <input type="text" class="form-control border-[#203947]" id="lastname"
                                formControlName="lastname">
                            @if (userForm.get(FormControlsNames.lastname)?.errors &&
                            userForm.get(FormControlsNames.lastname)?.touched) {
                            <div class="text-red-700">
                                @if (userForm.get(FormControlsNames.lastname)?.getError('required')) { <p>*Last Name
                                    is Required</p> }
                                @if (userForm.get(FormControlsNames.lastname)?.getError('minlength')) { <p>Name Must
                                    Be 3 Char</p> }
                            </div>
                            }
                        </div>
                    </div>
                </div>
                <!-- 2th row -->
                <div class="row mt-4">
                    <div class="col-lg-6 col-sm-12 mb-3">
                        <label for="occupation" class="form-label">occupation</label>
                        <input type="text" class="form-control border-[#203947]" id="occupation"
                            formControlName="occupation">
                        @if (userForm.get(FormControlsNames.occupation)?.errors &&
                        userForm.get(FormControlsNames.occupation)?.touched) {
                        <div class="text-red-700">
                            @if (userForm.get(FormControlsNames.occupation)?.getError('required')) { <p>*occupation
                                is Required</p> }
                        </div>
                        }
                    </div>
                    <div class="col-lg-6 col-sm-12 mb-3">
                        <label for="location" class="form-label">Location</label>
                        <input type="text" class="form-control border-[#203947]" id="location"
                            formControlName="location">
                        @if (userForm.get(FormControlsNames.location)?.errors &&
                        userForm.get(FormControlsNames.location)?.touched) {
                        <div class="text-red-700">
                            @if (userForm.get(FormControlsNames.location)?.getError('required')) { <p>*Location
                                is Required</p> }
                        </div>
                        }
                    </div>
                </div>
                <!-- 3th row -->
                <div class="col mb-3">
                    <label for="bio" class="form-label">Bio</label>
                    <textarea class="form-control border-[#203947]" id="bio" formControlName="bio"></textarea>
                    @if (userForm.get(FormControlsNames.bio)?.errors &&
                    userForm.get(FormControlsNames.bio)?.touched) {
                    <div class="text-red-700">
                        @if (userForm.get(FormControlsNames.bio)?.getError('required')) { <p>*Bio
                            is Required</p> }
                    </div>
                    }

                </div>
                <!-- 4th row -->
                <div class="row">
                    <div class="col-lg-5 col-sm-12 mb-3">
                        <label for="username" class="form-label">Username</label>
                        <input type="text" class="form-control border-[#203947]" id="username"
                            formControlName="username">
                        @if (userForm.get(FormControlsNames.username)?.errors &&
                        userForm.get(FormControlsNames.username)?.touched) {
                        <div class="text-red-700">
                            @if (userForm.get(FormControlsNames.username)?.getError('required')) { <p>*Username
                                is Required</p> }
                        </div>
                        }
                    </div>
                    <div class="col-lg-7 col-sm-12 mb-3">
                        <label for="email" class="form-label">Email</label>
                        <input type="email" class="form-control border-[#203947]" id="email" formControlName="email">
                        @if (userForm.get(FormControlsNames.email)?.errors &&
                        userForm.get(FormControlsNames.email)?.touched) {
                        <div class="text-red-700">
                            @if (userForm.get(FormControlsNames.email)?.getError('required')) { <p>*Email
                                is Required</p> }
                            @if (userForm.get(FormControlsNames.email)?.getError('email')) { <p>Plaese write
                                Email Valid</p> }
                        </div>
                        }
                    </div>
                </div>
 
                <!-- 6th row -->
                <div class="row">
                    <div class="col-lg-7 col-sm-12 mb-3">
                        <label for="phone" class="form-label">Phone</label>
                        <input type="tel" class="form-control border-[#203947]" id="phone" formControlName="phone">
                        @if (userForm.get(FormControlsNames.phone)?.errors &&
                        userForm.get(FormControlsNames.phone)?.touched) {
                        <div class="text-red-700">
                            @if (userForm.get(FormControlsNames.phone)?.getError('required')) { <p>*Phone
                                is Required</p> }
                        </div>
                        }
                    </div>
                    <div class="col-lg-5 col-sm-12 mb-3">
                        <label for="age" class="form-label">Age</label>
                        <input type="number" class="form-control border-[#203947]" id="age" formControlName="age">
                        @if (userForm.get(FormControlsNames.age)?.errors &&
                        userForm.get(FormControlsNames.age)?.touched) {
                        <div class="text-red-700">
                            @if (userForm.get(FormControlsNames.age)?.getError('required')) { <p>*Age
                                is Required</p> }
                        </div>
                        }
                    </div>
                </div>
                <!-- 7th row -->
                <div class=" w-50 m-auto  d-flex justify-content-center  gap-3 ">

                        <button class=" btn btn-primary px-5 py-2 d-flex align-items-center justify-content-center  m-auto w-50 ">
                            <span class="fw-bold d-inline-block fs-5"><span class=" d-none d-lg-inline-block ">Save</span><i class="fa-solid fa-check mx-2 "></i></span>
                        </button>
                        <button type="button" (click)="goToUsers()" class=" btn btn-outline-danger  px-5 py-2 d-flex align-items-center justify-content-center m-auto w-50 ">
                            <span class="fw-bold d-inline-block fs-5"><span class=" d-none d-lg-inline-block ">Canel</span><i class="fa-solid fa-ban mx-2"></i></span>
                        </button>


                </div>
            </form>
        </div>
    </div>
</div>
<p-toast></p-toast>