<div class="container maxHeight">
    <div class="row mt-5">
        <div class="col-md-8 col-sm-10 m-auto">


            <!-- header section  -->
            <h1 class="my-3 fw-bold  display-6">{{this.titleBlog}}</h1>
            <div class="d-flex align-items-center gap-2 my-3">
                <img src="../../../../../assets/images/1.webp" class="user-img rounded-circle" alt="">
                <div>
                    <h6 class="text-danger">Zach Quinn</h6>
                    <p class="m-0">{{formatDate(this.createdAt)}}</p>
                </div>
            </div>
            <hr>


            <div class=" m-auto mt-5 mb-3">
                @if (coverType && coverType.split("/")[0] === "image") {
                <img class="img-fluid" src={{this.coverimageURL}}>
                }
                @else if (coverType && coverType.split("/")[0] === "video") {
                <div [innerHTML]="sanitizeVideoUrl()" class=" w-100 "></div>
                }
            </div>
            <div class="d-flex justify-content-center">
                <div id="tota" style="width: 100%;" [innerHTML]="getSanitizedHtml()"></div>
            </div>

            <div class="my-5 d-flex gap-3 flex-wrap">
                <span class="bg-info rounded-pill py-1 px-3">{{this.selectedCategory}}</span>
            </div>
        </div>
    </div>
</div>